.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: imset(100%);
  clip: rect(0 0 0 0);
}

:root {
  --accent-color: #2196F3;
  --accent-color-secondary: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #757575;
  --secondary-color: #212121;
}

body {
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.conteiner {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    padding: 0 15px;
    align-items: center;
    display: block;
  }
}

.bacdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bacdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.bacdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.modl-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modl-btn-close:hover, .modl-btn-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.modal-text {
  display: block;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-lable-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-form-imput-weapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-imput:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  margin-top: 10px;
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-massage:focus {
  outline: none;
  border-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--accent-color);
}

.modal-form-policy-text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal-link-policy {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  margin: auto;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  border: none;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
}

.logo-header {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}

.logo-header:focus, .logo-header:hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.address-header {
  margin-left: auto;
}

.address-header-list {
  display: flex;
}

.address-header-lsit-item {
  margin-left: 50px;
}

.logo-web {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.address-header-item-mail {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  align-items: center;
}

.address-header-item-mail:hover .icon-mail,
.address-header-item-mail:focus .icon-mail {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.address-header-item-tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  justify-content: center;
}

.address-header-item-tel:hover .icon-tel,
.address-header-item-tel:focus .icon-tel {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-header-item-tel:hover,
.address-header-item-tel:focus,
.address-header-item-mail:hover,
.address-header-item-mail:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.navigation-list-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: #188CE8;
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero-mobail.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal-btn {
  margin: auto;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  border: none;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero-mobail@2x.jpg");
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 480px 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero-table.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero-table@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
  }
  .hero-title {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Studio/hero@2x.jpg");
  }
}

.skills-list {
  display: flex;
  margin-bottom: 94px;
}

.skills-list-item:not(:last-child) {
  margin-right: 30px;
}

.skills-list-item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../images/icon/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icon/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icon/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icon/astronaut.svg");
}

.title {
  width: 270px;
  height: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.text {
  width: 270px;
  height: 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about {
  margin-bottom: 94px;
}

.about-title-list {
  display: flex;
}

.about-title {
  min-width: 376px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.about-text {
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.abuot-title-item {
  position: relative;
}

.abuot-title-item:not(:last-child) {
  margin-right: 30px;
}

.container-about {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
  margin-bottom: 94px;
}

.social-list {
  display: flex;
  width: 206px;
  height: 44px;
  margin: auto;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 10px;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #FFFFFF;
}

.social-list-link:hover, .social-list-link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.item-title {
  margin-top: 30px;
  margin-bottom: 10px;
  min-width: 151px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.position {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 130px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list {
  display: flex;
  text-align: center;
  padding-bottom: 94px;
}

.team-list-item {
  width: 270px;
  height: 428px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.regular-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.regular-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
}

.regular-list-item {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.regular-list-item:hover, .regular-list-item:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--accent-color);
  cursor: pointer;
}

.regular-list-item:hover .regular-icon,
.regular-list-item:focus .regular-icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.regular-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: #AFB1B8;
}

.regular-list-link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--accent-color);
}

.footer {
  background-color: #2F303A;
  display: block;
  width: auto;
  height: 252px;
}

.logo-footer {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 145px;
  height: 31px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address {
  width: 231px;
  height: 81px;
}

.footer-address-list-navigation {
  margin-bottom: 9px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address-list-mail {
  margin-bottom: 9px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-list-tel {
  width: 231px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-container {
  display: inline-block;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.container-social {
  width: 206px;
  height: 80px;
  display: inline-block;
  margin-left: 70px;
  margin-top: 75px;
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-list-footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list-footer-link:hover, .social-list-footer-link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  cursor: pointer;
}

.subscription {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 72px;
}

.subscription-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription-input {
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}

.subscription-button {
  border: none;
  margin-left: -4px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button-text {
  margin-left: 24px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.button-text::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon/icon-send.svg");
}

.subscription-button-text {
  cursor: pointer;
}

.header-portfolio {
  padding-top: 25px;
  padding-bottom: 24px;
  border: 1px solid #ECECEC;
  margin-bottom: 64px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filters-list-item-button {
  display: block;
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  border: unset;
  cursor: pointer;
}

.filters-list-item-button:hover, .filters-list-item-button:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color-secondary);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-text {
  margin: 6px 22px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.work-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}

.work-list-item:nth-child(3n) {
  margin-right: 0;
}

.work-list-link {
  display: inline-block;
}

.work-list-link:hover, .work-list-link:focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list-link:hover .work-text,
.work-list-link:focus .work-text {
  transform: translateY(0%);
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-work-title {
  display: inline-block;
  margin: 24px 20px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.container-work {
  position: relative;
  overflow: hidden;
}

.work-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */