.footer {
  background-color: #2F303A;
  display: block;
  width: auto;
  height: 252px;
}

.logo-footer {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 145px;
  height: 31px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address {
  width: 231px;
  height: 81px;
}

.footer-address-list-navigation {
  margin-bottom: 9px;
  display: block;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-address-list-mail {
  margin-bottom: 9px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-list-tel {
  width: 231px;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-container {
  display: inline-block;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.container-social {
  width: 206px;
  height: 80px;
  display: inline-block;
  margin-left: 70px;
  margin-top: 75px;
}

.icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-list-footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
    cursor: pointer;
  }
}

.subscription {
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 72px;

  &-title {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &-input {
    padding-left: 16px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
  }

  &-button {
    border: none;
    margin-left: -4px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}

.button-text {
  margin-left: 24px;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  &::after {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/icon/icon-send.svg");
  }
}

.subscription-button-text {
  cursor: pointer;
}