.regular-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.regular-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

.regular-list-item {
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-color: var(--accent-color);
    cursor: pointer;
  }

  &:hover .regular-icon,
  &:focus .regular-icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--accent-color);
  }
}

.regular-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  fill: #AFB1B8;

  &:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--accent-color);
  }
}