.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.social-list {
  display: flex;
  max-width: 206px;
  max-height: 44px;
  margin: auto;
  margin-bottom: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 10px;

  &:hover .social-list-icon,
  &:focus .social-list-icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
  }

  &:hover,
  &:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
  }
}

.social-list-icon {
  max-width: 20px;
  max-height: 20px;
  fill: #AFB1B8;
}

.team-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-bottom: 94px;
}

.team-list-item {
  max-width: 450px;
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 60px;
  }
}

.command-list-img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color)
}

.item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.position {
  margin-bottom: 16px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}