.conteiner {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.conteiner-footer {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .conteiner-footer {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner-footer {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner-footer {
    max-width: 1200px;
    padding: 0 15px;
  }
}


// .container {
//   width: 1200px;
//   padding: 0 15px;
//   margin: 0 auto;
//   align-items: center;
//   display: block;
// }

// .container-header {
//   width: 1200px;
//   padding: 0 15px;
//   margin: 0 auto;
//   align-items: center;
//   display: flex;
// }